<a href="https://colab.research.google.com/github/maheshmistry/ProgrammT/blob/main/Base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install rdflib
!pip install faker
!git clone https://github.com/maheshmistry/ProgrammT.git

Collecting rdflib
  Downloading https://files.pythonhosted.org/packages/d0/6b/6454aa1db753c0f8bc265a5bd5c10b5721a4bb24160fb4faf758cf6be8a1/rdflib-5.0.0-py3-none-any.whl (231kB)
     |████████████████████████████████| 235kB 8.2MB/s
Collecting isodate
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |████████████████████████████████| 51kB 6.3MB/s
Requirement already satisfied: pyparsing in /usr/local/lib/python3.6/dist-packages (from rdflib) (2.4.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from rdflib) (1.15.0)
Installing collected packages: isodate, rdflib
Successfully installed isodate-0.6.0 rdflib-5.0.0
Collecting faker
  Downloading https://files.pythonhosted.org/packages/51/50/fc971c0d1bbbd6442adf390bd5d354138d187f399ca5d5e0f7cad99314ea/Faker-4.17.1-py3-none-any.whl (1.1MB)
     |████████████████████████████████| 1.1MB 9.7MB/s
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.6/dist-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.6/dist-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-4.17.1
Cloning into 'ProgrammT'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [3]:
from rdflib import Graph, Literal, RDF, URIRef, Namespace
from faker import Faker
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import random



dbo = Namespace("http://dbpedia.org/ontology/")
TOnto = Namespace("http://visualdataweb.org/MCompanyTest/")

fake = Faker()
g = Graph()

g.bind("TOnto", 'http://visualdataweb.org/MCompanyTest/')
g.bind("dbo", 'http://dbpedia.org/ontology/')

g.parse("/content/ProgrammT/NewOntology.rdf")

In [4]:
qres = g.query(
    """SELECT ?s ?p ?o
       WHERE {
           ?s rdf:type TOnto:Company.
           ?s ?p ?o.
           filter (datatype(?o) != '')
       }""")

for row in qres:
    print("%s -- %s -- %s" % row)

http://visualdataweb.org/MCompanyTest/Google -- http://dbpedia.org/ontology/numberOfEmployees -- 40
http://visualdataweb.org/MCompanyTest/Google -- http://visualdataweb.org/MCompanyTest/avgSalary -- 80000
http://visualdataweb.org/MCompanyTest/Google -- http://dbpedia.org/ontology/industry -- IT
http://visualdataweb.org/MCompanyTest/Google -- http://visualdataweb.org/MCompanyTest/genderRatio -- 64.5
http://visualdataweb.org/MCompanyTest/Facebook -- http://dbpedia.org/ontology/industry -- Software
http://visualdataweb.org/MCompanyTest/Facebook -- http://dbpedia.org/ontology/numberOfEmployees -- 20
http://visualdataweb.org/MCompanyTest/Facebook -- http://visualdataweb.org/MCompanyTest/genderRatio -- 70.4
http://visualdataweb.org/MCompanyTest/Facebook -- http://visualdataweb.org/MCompanyTest/avgSalary -- 70000

In [8]:
enumb = g.query(
    """SELECT (AVG(?o) AS ?avg)
       WHERE {
           ?s rdf:type TOnto:Company.
           ?s dbo:numberOfEmployees ?o.
       }""")

avgSal = g.query(
    """SELECT (AVG(?o) AS ?avg)
       WHERE {
           ?s rdf:type TOnto:Company.
           ?s TOnto:avgSalary ?o.
       }""")
avgGenRat = g.query(
    """SELECT (AVG(?o) AS ?avg)
       WHERE{
          ?s rdf:type TOnto:Company.
          ?s TOnto:genderRatio ?o.
       }"""
)

for row in enumb:
  emp = row.avg
for row in avgSal:
  avgSale = row.avg
for row in avgGenRat:
  avgGenRatio = row.avg

emp = int(emp)
avgSale = float(avgSale)

In [14]:
synthGender = np.random.choice(["Male", "Female"], emp, p=[(avgGenRatio.value/100), ((100-avgGenRatio.value)/100)])

emp_roles = ['Engineer','Senior Engineer','Manager']
company = pd.DataFrame([
          {
              "FirstName": fake.first_name_male() if synthGender[n]=='Male' else fake.first_name_female(),
              "LastName": fake.last_name(),
              "Gender" : synthGender[n],
              "Salary" : random.randint(int(avgSale - (avgSale * .20)), int(avgSale + (avgSale * .20))),
              "Roles" : "CEO" if n == 0 else np.random.choice(emp_roles, p=[0.6, 0.3, 0.1])
          }for n in range(emp)
])



company

     FirstName   LastName  Gender  Salary            Roles
0   Kristopher     Hughes    Male   69928              CEO
1     Mitchell      Reyes    Male   78592         Engineer
2      Kathryn     Durham  Female   67030          Manager
3        Craig     Zavala    Male   81626         Engineer
4      Michael    Johnson    Male   74272         Engineer
5        Kevin       Diaz    Male   81729  Senior Engineer
6         Ryan     Brooks    Male   71390          Manager
7     Michelle      Clark  Female   84513         Engineer
8       Sharon      Baker  Female   62494  Senior Engineer
9       Lauren    Bonilla  Female   73336  Senior Engineer
10       Eddie     Hudson    Male   80146  Senior Engineer
11      Robert      Oneal    Male   72055         Engineer
12       Dylan    Kennedy    Male   65810         Engineer
13     Michael        Kim    Male   86131         Engineer
14       Megan     Taylor  Female   74557         Engineer
15       James   Anderson    Male   77859         Engineer
16        Eric     Gamble    Male   65448  Senior Engineer
17      Lauren     Duncan  Female   83531  Senior Engineer
18      Teresa       Wise  Female   89281          Manager
19     Randall     Pruitt    Male   86049         Engineer
20     Matthew     Conley    Male   78287          Manager
21    Jennifer    Stewart  Female   89110         Engineer
22      Amanda   Mcintosh  Female   74446  Senior Engineer
23      Amanda       Rose  Female   88849  Senior Engineer
24     Matthew  Davenport    Male   77096  Senior Engineer
25        John    Burnett    Male   89426  Senior Engineer
26      Brenda     Mccall  Female   71615  Senior Engineer
27      Joseph    Freeman    Male   81009         Engineer
28       Ellen        May  Female   67874         Engineer
29        Carl   Mitchell    Male   78109         Engineer

In [15]:
genDist = (company['Gender'].value_counts(normalize=True) * 100)

print("New Company stats:"
      "\n\nNo. of Employees:" , emp ,
      "\n\nGender Ratio(Male Percent):\n", genDist,
      "\n\nAverage Salary:", sum(company["Salary"])/emp,
      "\n\nRole Distribution:\n", company["Roles"].value_counts())

New Company stats:

No. of Employees: 30

Gender Ratio(Male Percent):
 Male      60.0
Female    40.0
Name: Gender, dtype: float64

Average Salary: 77386.6

Role Distribution:
 Engineer           14
Senior Engineer    11
Manager             4
CEO                 1
Name: Roles, dtype: int64