<a href="https://colab.research.google.com/github/maheshmistry/ProgrammT/blob/main/main/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# def linkify(sent):
#     return sent.replace('@', '%40')

# # user = linkify(input('Enter your GitHub id: '))
# # passwort = linkify(input('Enter password: '))

# user='username'
# passwort=linkify('password')

# !rm -r ProgrammT/
# !git clone https://$user:$passwort@github.com/maheshmistry/ProgrammT.git

In [ ]:
!pip install rdflib
!pip install faker

from rdflib import Graph, Literal, RDF, URIRef, Namespace
from faker import Faker
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import random
import seaborn as sns
import scipy.stats as st
import pymc3 as pm
import re

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rdflib in /home/mahesh/.local/lib/python3.8/site-packages (5.0.0)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.8/dist-packages (from rdflib) (2.4.7)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from rdflib) (1.14.0)
Requirement already satisfied: isodate in /home/mahesh/.local/lib/python3.8/site-packages (from rdflib) (0.6.0)
WARNING: You are using pip version 21.0.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: faker in /home/mahesh/.local/lib/python3.8/site-packages (8.8.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/lib/python3/dist-packages (from faker) (2.7.3)
Requirement already satisfied: text-unidecode==1.3 in /home/mahesh/.local/lib/python3.8/site-packages (from faker) (1.3)
WARNING: You are using pip version 21.0.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

# Data Pre-Processing

In [ ]:
# Just viewing setting options
pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.set_option('display.max_colwidth', None)

# Global Data Variables
fake = Faker()
g = Graph()

variableDTDict = {'Salary':'continuous','Age':'continuous','Experience':'discrete','Gender':'discrete','Education':'discrete','Ethnicity':'discrete', 'Personnel':'continuous'}

variableConstraintDict = {'Age':{'lowerBound':18, 'upperBound':65}, 'Salary':{'lowerBound':0, 'upperBound':1000000}}

variableDistDict = {'Salary':'lognorm','Age':'truncnorm','Experience':'histogram','Gender':'histogram','Education':'histogram','Ethnicity':'histogram', 'Personnel':'continuous'}

personnelVar = 'Personnel'

# Namespace of the Ontology
dbo = Namespace("http://dbpedia.org/ontology/")
codeOnto = Namespace("http://visualdataweb.org/syntheticontology/")

# Binding Namespaces
g.bind("codeOnto", 'http://visualdataweb.org/syntheticontology/')
g.bind("dbo", 'http://dbpedia.org/ontology/')

# Importing Ontology and RDF Knowledge Graph data
g.parse("CodeOntology.rdf")

In [ ]:
# Getting the companies and their size in a dataframe from Knowledge base
cres = g.query(
    """SELECT ?s ?o
       WHERE {
           ?s rdf:type codeOnto:Company.
           ?s codeOnto:hasSize ?o.
       }""")

companyTriples = pd.DataFrame(cres, columns=["company","size"]).sort_values(by="company")

compDict = {}
for row in cres:
    company = row[0].rsplit('/', 1)[-1]    
    compDict[company] = str(row[1].rsplit('/', 1)[-1])

In [ ]:
qres = g.query(
    """SELECT ?s ?p ?o
       WHERE {
           ?s rdf:type codeOnto:Fact.
           ?s ?p ?o.
       }""")

factTriples = pd.DataFrame(qres, columns=["subject", "property", "object"]).sort_values(by="subject")

factDict = {}

for row in qres:
    factno = row[0].rsplit('/', 1)[-1]
    prop = row[1].rsplit('/', 1)[-1]
        
    if factno not in factDict:
        factDict[factno] = {}
    if prop in ['22-rdf-syntax-ns#type']:
        continue
    if prop in ['measureValue', 'hasCompany', 'hasSize', 'hasIndependent', 'hasDependent']:
        if prop == 'hasCompany':
            factDict[factno]['hasSize'] = compDict[(row[2].rsplit('/', 1)[-1])]
            continue
        if prop == 'hasIndependent':
            if 'hasIndependent' in factDict[factno]:
                factDict[factno]['hasIndependent'].append(str((row[2].rsplit('/', 1)[-1])))
            else:
                factDict[factno]['hasIndependent'] = [str((row[2].rsplit('/', 1)[-1]))]
            continue
            
        factDict[factno][prop] = str(row[2].rsplit('/', 1)[-1])
    else:
        factDict[factno][prop] = str(row[2])

FactDF = pd.DataFrame.from_dict(factDict, orient='index')

In [ ]:
# FactDF.sort_values(by='hasDependent')
# FactDF.sort_values(by='hasSize')
# FactDF.sort_index()

# Functions

In [ ]:
# Helper Function to convert list data type from float to int
def listFloatToInt(varList):
    return list(map(int, varList))

# Function to get only Independent fact rows of given variable
def getIndependentVariableData(Variable, Value):
    return FactDF[FactDF.apply(lambda x: (Value in x[Variable] and pd.isna(x["hasDependent"])), axis=1)]

# Get the cleaned array of the "hasValue" column of every fact
def getFiltteredData(varDF):
    varList = []
    for i in varDF['hasValue']:
        varList.append(i.split(':')[1][:-1])
    return varList

# Function to get the number of personnel to be generated
def getRandomPersonnelCount():
    personnelList = getFiltteredData(getIndependentVariableData("hasIndependent", personnelVar))
    personnelList = listFloatToInt(personnelList)
    print(len(personnelList))
    sns.distplot(personnelList, label='Personnel Fact Histogram')
    hist = np.histogram(personnelList, bins=1000)
    hist_dist = st.rv_histogram(hist)
#     sns.distplot(hist_dist.rvs(size=28), label='Simulation distribution x28')
    plt.legend()
    plt.show()
    return int(hist_dist.rvs(size=1))

# Get variables which are to be to ignored because they are indepedent variable but always have a depedent variable
def getIgnoringVariable():
    ff =[i for sub in filter(lambda x: len(x)==1, pd.unique(FactDF[~pd.isna(FactDF['hasDependent'])].apply(lambda x: tuple(x['hasIndependent']), axis=1))) for i in sub]
    return list(set(ff) - set(pd.unique(FactDF[FactDF['hasIndependent'].map(str).str.contains('|'.join(ff)) & pd.isna(FactDF['hasDependent'])]['hasIndependent'].map(lambda x: x[0]))))

# Function to get priorities to the variable when synthesizing
def getVariablePriority():
    variablePriority={'fullyIndependent':[], 'partialIndependent':[], 'fullyDependent':[]}

    uniqueIndependent = [i for sub in filter(lambda x: len(x)==1, pd.unique(FactDF[pd.isna(FactDF['hasDependent'])].apply(lambda x: tuple(x['hasIndependent']), axis=1))) for i in sub]
    uniqueDependent = FactDF['hasDependent'].dropna().unique()
    
    removedVar = getIgnoringVariable()

    variablePriority['partialIndependent'] = set(uniqueIndependent).intersection(set(uniqueDependent))
    variablePriority['fullyIndependent'] = set(uniqueIndependent) - variablePriority['partialIndependent']
    variablePriority['fullyDependent'] = set(uniqueDependent) - variablePriority['partialIndependent']
    
    partialIndependentTemp = dict()
    
    for i in range(len(variablePriority['partialIndependent'])):
        partialIndependentTemp[list(variablePriority['partialIndependent'])[i]] = i
    
    partialIndependent = partialIndependentTemp
    
    # Adjust Partial Independent priorities
    for i in partialIndependentTemp.keys():
        for k in FactDF[FactDF['hasDependent'] == i]['hasIndependent']:
            for l in k:
                if l not in uniqueIndependent and l not in removedVar:
                    if partialIndependent[l] > partialIndependent[i]:
                        temp = partialIndependent[l]
                        partialIndependent[l] = partialIndependent[i]
                        partialIndependent[i] = temp
        
    variablePriority['partialIndependent'] = partialIndependent
    
    for l in variablePriority:
        if personnelVar in variablePriority[l]:
            variablePriority[l].discard(personnelVar)
    
    return variablePriority

# Generating Data for Independent discrete variables
def getCategoricalColumnsData(variable):
    varList = getIndependentVariableData("hasIndependent", variable)
    genDf = pd.DataFrame()
    n = 0
    for i in varList['hasValue']:
        factArr = re.findall("\[(.*?)\]", i)
        genDf.at[n , 'Others'] = 0
        for j in factArr:
            factStr = j.split(',')
            genDf.at[n, factStr[0].split(':')[1].strip("'")] = float(factStr[1].split(':')[1])
        n = n+1    
    genDf = genDf.fillna(0)
    
    s = pd.DataFrame()
    for col in genDf.columns:
        s.at[0, col] = sum(genDf[col])/(len(genDf)*100)

    cols = s.columns
    col_id = s.columns.get_loc("Others") 
    cols = [*cols[:col_id], *cols[col_id+1:] , cols[col_id]]
    s = s[cols]
    category = list(s)
    probability = list(s.iloc[0])
    
    if sum(probability) != 1:
        probability[category.index('Others')] = probability[category.index('Others')] + (1-sum(probability))
    
    res = np.random.choice(category, noEmployee, p=probability)
    return res

# Generate random distribution of Trunc Normal type given Measure and Lower and Higher bound                                   
def generateTruncateDistributionsForMeanMedian(low, high, measure):
    mean = measure #Paper Reference - https://doi.org/10.1186/1471-2288-5-13
    std = ((high-low)/6) #Paper Reference - https://doi.org/10.1186/1471-2288-5-13

    a,b = (low-mean)/std, (high-mean)/std
    
    x = np.linspace(low,high,1000000)
    X = st.truncnorm.pdf(x,a,b,loc=mean,scale=std)
    
#     res = np.random.choice(x, size=1000, p=X/np.sum(X))
#     sns.distplot(res, hist=False)
    return X

# Generate random distribution of Log Normal type given Measure
def generateLogNormDistributionForMeanMedian(measure):
    mu = measure #Paper Reference - https://doi.org/10.1186/1471-2288-5-13
    sigma = mu/6 #Paper Reference - https://doi.org/10.1186/1471-2288-5-13
    
    normal_std = np.sqrt(np.log(1 + (sigma/mu)**2))
    normal_mean = np.log(mu) - normal_std**2 / 2

    x=np.linspace(0,1000000,1000000)
    X = st.lognorm.pdf(x,s=normal_std, scale=np.exp(normal_mean))
    return X

# Generating a aggregated distribution with each Independent fact associated with given variable - Expectation Maximization
def generateContinuousIndependentColumnsDistribution(variable):
    varList = getFiltteredData(getIndependentVariableData("hasIndependent", variable))
    i =  0
    high = variableConstraintDict[variable]['upperBound']
    low = variableConstraintDict[variable]['lowerBound']
    
    if variableDistDict[variable] == 'truncnorm':
        for a in varList:
            if i == 0:
                Z = generateTruncateDistributionsForMeanMedian(low,high,int(a))
            else:
                prior = Z
                likelihood = generateTruncateDistributionsForMeanMedian(low,high,int(a))
                Z = (prior + likelihood)
            i=i+1
    elif variableDistDict[variable] == 'lognorm':
        for a in varList:
            if i == 0:
                Z = generateLogNormDistributionForMeanMedian(int(a))
            else:
                prior = Z
                likelihood = generateLogNormDistributionForMeanMedian(int(a))
                Z = (prior + likelihood)
            i=i+1
            
    return Z

# Generating Data for Independent continuous variables
def generateContinuousIndependentColumnsData(variable):
    varList = getFiltteredData(getIndependentVariableData("hasIndependent", variable))
    i =  0
    high = variableConstraintDict[variable]['upperBound']
    low = variableConstraintDict[variable]['lowerBound']
    
    Z = generateContinuousIndependentColumnsDistribution(variable)
    x = np.linspace(low,high,1000000)
    res = np.random.choice(x, size=noEmployee, p=Z/np.sum(Z))
    
#     sns.distplot(res, hist=True, color="black", label="Aggregated Distribution")
#     plt.legend()
#     plt.show()
    
#     sns.distplot(res, kde=True)
#     print('Mean',np.mean(res))
#     print('sigma', np.std(res))
#     print('Median', np.median(res))
#     print('min', min(res))
#     print('max', max(res))
#     print(len(res))
    return res



# Get Independent and Dependent facts of the given variable
def getPartialDependentFacts(variable):
    ignoreVar = getIgnoringVariable()

    indepFacts = getIndependentVariableData("hasIndependent", variable).sort_values('hasSize')

    depenFacts = FactDF[FactDF['hasDependent'].notna()]
    depenFacts = depenFacts[~depenFacts['hasValue'].str.contains('|'.join(ignoreVar))]
    return indepFacts, depenFacts

# Generating Data for Partially Dependent continuous variables
def getPartialDependentColumnData(variable):
    inde, depe = getPartialDependentFacts(v)
    independentDistribution = generateContinuousIndependentColumnsDistribution(variable)
    dependentVariableDistributionDF = pd.DataFrame()
    
    for o in range(len(depe)):
        x = depe.iloc[o]
        factArr = re.findall("\[(.*?)\]", x["hasValue"][1:-1])
        for i in range(len(factArr)):
            idx = len(dependentVariableDistributionDF) + 1 
            hasValue = []
            dependentVariableDistributionDF.at[idx, "fact"] = x.name
            for j in factArr[i].split(',')[:-1]:
                hasValue.append(str(j.split(":")[1].strip("'").replace("'", "").strip()))
            dependentVariableDistributionDF.at[idx, "hasValue"] = list(hasValue)
            dependentVariableDistributionDF.at[idx, variable] = int(factArr[i].split(',')[-1].split(":")[1].strip())
    
    Z = independentDistribution
    high = variableConstraintDict[variable]['upperBound']
    low = variableConstraintDict[variable]['lowerBound']
    
    for l in range(len(empDF)):
        empset = set(empDF.iloc[l])
        for a in range(len(dependentVariableDistributionDF)):
            if type(dependentVariableDistributionDF.iloc[a]['hasValue']) == str:
                factset = set([dependentVariableDistributionDF.iloc[a]['hasValue']])
            else:
                factset = set(dependentVariableDistributionDF.iloc[a]['hasValue'])
            if len(factset-empset) == 0:
                prior = Z
                likelihood = generateLogNormDistributionForMeanMedian(dependentVariableDistributionDF.iloc[a][variable])
                Z = (prior+likelihood)
                
    x = np.linspace(low,high,1000000)
    res = np.random.choice(x, size=noEmployee, p=Z/np.sum(Z))
    
    return res

# Generating Data

In [ ]:
# Aggregate and Generate data with priority of variables

varPriority = getVariablePriority()

# noEmployee = getRandomPersonnelCount()
noEmployee = 100

empDF = pd.DataFrame()

for v in varPriority['fullyIndependent']:
    if variableDTDict[v] == 'continuous':
        empDF[v] = generateContinuousIndependentColumnsData(v)
    elif variableDTDict[v] == 'discrete':
        empDF[v] = getCategoricalColumnsData(v)
        
for e in range(len(empDF)):
    empDF.at[e, "FirstName"] = fake.first_name_male() if empDF['Gender'][e]=='Male' else fake.first_name_female()
    empDF.at[e, "LastName"] = fake.last_name()
    
for v in varPriority['partialIndependent']:
    empDF[v]=getPartialDependentColumnData(v)

In [ ]:
empDF

,Ethnicity,Education,Gender,Age,FirstName,LastName,Salary
0,White,EnrolledInUni,Female,34.802940,Donna,Yang,81262.081262
1,White,PhD,Female,29.635755,Amanda,Barron,70806.070806
2,White,Graduate,Male,38.318684,Nicholas,Boyle,46500.046500
3,White,Graduate,Male,27.560844,Robert,Dominguez,110147.110147
4,Asian,Others,Male,31.546918,Luis,Ramos,77968.077968
5,Asian,Graduate,Male,32.060910,Joshua,Shannon,68332.068332
6,Asian,Graduate,Male,34.673032,Daniel,Blackburn,53409.053409
7,White,Others,Male,26.411551,Michael,Henry,77271.077271
8,White,Graduate,Female,28.508506,Monica,Cooper,120235.120235
9,White,Graduate,Male,28.679492,Evan,Trujillo,90706.090706
10,Asian,Graduate,Male,42.481290,Timothy,Mills,59639.059639
11,White,Graduate,Male,26.233750,James,Mendez,75980.075980
12,Hispanic,EnrolledInUni,Female,34.206932,Shannon,Lam,62734.062734
13,White,Graduate,Female,30.772592,Jaime,Rollins,68166.068166
14,White,Graduate,Female,36.794567,Danielle,White,59715.059715
15,White,Dropout,Female,33.559272,Katie,Graves,71915.071915
16,White,Graduate,Female,32.684836,Alexis,Johnson,61706.061706
17,Asian,Graduate,Male,31.139521,Dennis,Gilbert,100048.100048
18,Hispanic,Graduate,Female,35.561756,Kelsey,Glover,73466.073466
19,White,Dropout,Male,38.851853,Scott,Coleman,85523.085523
20,White,PhD,Male,33.509828,Joshua,Phillips,67126.067126
21,Asian,Graduate,Female,49.237030,Alyssa,Harrison,38286.038286
22,Asian,Graduate,Female,24.406952,Stacy,Christensen,79252.079252
23,White,Graduate,Male,27.127409,Dylan,Thomas,88157.088157
24,White,Graduate,Male,43.465471,Samuel,Bond,34648.034648
25,Asian,Graduate,Male,37.153741,Nicholas,Alvarez,40778.040778
26,Others,Graduate,Male,25.947802,Gregory,Cook,78101.078101
27,Asian,Graduate,Male,36.388768,Jerry,Harris,76320.076320
28,White,Graduate,Male,20.747059,Brian,Garcia,64821.064821
29,Asian,Graduate,Female,54.458171,Stephanie,Huffman,85217.085217
30,Asian,Graduate,Male,25.887971,Justin,Miller,57857.057857
31,Others,Graduate,Male,23.206806,Kurt,Ramirez,51437.051437
32,Asian,Graduate,Male,29.694552,Christopher,Nichols,69779.069779
33,Asian,EnrolledInUni,Female,31.617089,Pam,Black,38886.038886
34,White,Graduate,Female,23.168830,Tanya,Ramirez,64540.064540
35,White,Graduate,Male,32.296427,Justin,Fernandez,41551.041551
36,White,Graduate,Female,29.697419,Nicole,Robbins,34989.034989
37,Asian,Graduate,Female,46.044035,Erin,Hall,44127.044127
38,White,Dropout,Male,40.896026,Andrew,Ramirez,81734.081734
39,White,Graduate,Female,37.725638,Patricia,Bautista,91354.091354
40,Asian,Graduate,Female,41.807968,Debbie,Welch,97660.097660
41,White,Graduate,Female,36.286167,Hannah,Smith,72783.072783
42,Others,Graduate,Female,40.563877,Jennifer,Adams,45509.045509
43,White,Dropout,Male,25.304183,Todd,Lopez,68502.068502
44,White,Graduate,Male,39.003710,Derrick,Rhodes,59490.059490
45,Asian,EnrolledInUni,Female,45.027095,Haley,Williams,67800.067800
46,White,Graduate,Others,35.692604,Wendy,Robertson,54498.054498
47,Asian,Graduate,Male,36.326352,Jason,Weaver,82901.082901
48,Black,Graduate,Female,48.524181,Monica,Benson,83541.083541
49,White,Graduate,Male,23.532799,Stephen,Brewer,75584.075584
50,Asian,Dropout,Male,25.773714,Randall,Martinez,91870.091870
51,Asian,EnrolledInUni,Female,24.560690,Amanda,Rosales,74865.074865
52,Asian,Graduate,Female,36.800912,Denise,Kelly,69446.069446
53,White,Graduate,Male,32.596382,Michael,Gray,37919.037919
54,Asian,Graduate,Female,28.382028,Doris,Hayes,78233.078233
55,Asian,Graduate,Male,27.018557,Anthony,Miller,27985.027985
56,Asian,Graduate,Male,25.505250,Justin,Scott,44772.044772
57,White,Graduate,Male,27.721866,Cody,Cooper,39309.039309
58,Asian,Graduate,Male,39.301173,Troy,Hill,46583.046583
59,Others,Graduate,Female,44.162952,Jenna,Kim,79685.079685
60,White,Graduate,Male,38.542217,Andrew,Elliott,60957.060957
61,White,Graduate,Female,27.153306,Dawn,Reeves,48537.048537
62,Asian,Graduate,Female,42.179127,Rachel,Martin,76906.076906
63,Asian,Graduate,Male,37.594414,Nathaniel,Stone,30694.030694
64,White,Graduate,Male,33.425791,Eric,Brown,76818.076818
65,Asian,Graduate,Male,24.484173,Matthew,Patrick,95521.095521
66,Asian,Graduate,Female,39.662369,Michelle,Miller,26820.026820
67,Black,Graduate,Male,28.116854,Trevor,Ortega,70342.070342
68,White,Dropout,Male,44.397764,Corey,Lyons,75450.075450
69,Hispanic,EnrolledInUni,Male,35.217010,Chad,Conner,87034.087034
70,White,Graduate,Male,45.734258,Brandon,Velazquez,58931.058931
71,Asian,Graduate,Male,45.683451,Barry,Green,52622.052622
72,Asian,Graduate,Male,26.879719,Ryan,Klein,56569.056569
73,Asian,Graduate,Female,34.094461,Shelley,Joseph,108634.108634
74,White,Graduate,Male,23.840931,Charles,Santos,82898.082898
75,White,EnrolledInUni,Male,19.506117,Tyler,Garrett,71243.071243
76,White,Graduate,Male,27.572970,Roberto,Webb,39696.039696
77,White,Graduate,Male,40.023376,Billy,Leach,25530.025530
78,Hispanic,PhD,Male,45.433880,Andrew,Olsen,41169.041169
79,White,Graduate,Male,29.955026,Alexander,Sanchez,59664.059664
80,Asian,Graduate,Male,28.734388,Darrell,Perez,48782.048782
81,Asian,Graduate,Male,40.036818,Ryan,Howell,75250.075250
82,Asian,Graduate,Female,46.975106,Brittany,Joseph,86812.086812
83,White,Graduate,Male,28.627745,Brandon,Roberts,43276.043276
84,White,Graduate,Male,20.812201,Randall,Turner,88522.088522
85,Asian,Graduate,Female,40.986454,Laurie,Andrews,36120.036120
86,White,PhD,Female,21.900910,Emily,Navarro,37487.037487
87,White,Graduate,Male,23.873878,Mike,Bryant,32885.032885
88,Asian,Graduate,Male,39.083093,Daniel,Mendez,86060.086060
89,White,Graduate,Male,36.100611,Brian,Grant,90488.090488
90,Asian,Graduate,Female,26.416345,Ashley,Wilson,76544.076544
91,Black,Others,Female,19.457941,Lisa,Drake,77963.077963
92,White,Dropout,Female,25.451293,Tracey,Lang,170004.170004
93,White,Graduate,Male,30.106413,Jeffrey,Huber,72300.072300
94,White,Graduate,Male,43.619256,Kevin,Durham,63447.063447
95,Asian,Graduate,Male,48.656063,James,Andrews,70216.070216
96,White,Graduate,Male,44.592157,Daniel,Bell,49536.049536
97,White,Graduate,Female,29.911692,Catherine,Bowen,59707.059707
98,White,Dropout,Female,45.181678,Betty,Lopez,64813.064813
99,Asian,Graduate,Male,26.307070,Michael,Fisher,91696.091696